
<body>
  
</body>
</html>

<!-- <h1>Welcome to the EJS Example</h1>

  <% if (user.isLoggedIn) { %>
    <h2>Hello, <%= user.name %>!</h2>
    <p>You are logged in.</p>
  <% } else { %>
    <h2>Welcome, Guest!</h2>
    <p>Please log in to access more features.</p>
  <% } %> -->